.filters {
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    box-sizing: border-box;
    padding: 0 30px;
    background-color: white;
    margin: 0 auto;
}

.filters button {
    font-size: 18px;
    background: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    margin-right: 30px;
}
.filters button:hover  {
    opacity: 0.9;
}
.amenities, .locations {
    width: 25%;
    height: 100%;
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;
}
.locations {
    border-right: 1px solid #DDDDDD;
}

h3 {
    font-weight: 600;
    margin-bottom: 0;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}
.locations ul.popover, .amenities ul.popover {
    list-style-type: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: none;
    position: absolute;
    margin: 0;
    padding: 0 30px;
    align-items: center;
    justify-content: center;
    top: 100%;
    width: 100%;

}

.amenities:hover ul.popover {
    display: block;
    flex: 1;
    left: -1px;
    width: calc(100% + 2px);
    right: auto;
    box-sizing: initial;
}
.locations:hover ul.popover {
    display: block;
    flex: 1;
    position: absolute;
    box-sizing: border-box;
}

.locations h2 {
    font-size: 16px;
    margin-top: 10px;
}
li {
    list-style-type: none;
}